body{
  background: rgb(45,126,32);
  background: radial-gradient(circle, rgba(45,126,32,1) 35%, rgba(81,184,80,1) 72%, rgba(89,170,93,1) 100%);
  text-align: center;
}

img {
    width:250px;
}

button {
  width: 15%;
  color:#000000;
  font-family: cursive;
  font-size: 15px;
  background: rgb(107, 66, 29);
  border: none;
  box-shadow: 7px 7px 7px #999999;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all .2;
}

button:hover {
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    background: #78ff73; opacity: 70%;
    transition: all .2;
  }
  

.titulo{
  color: rgb(248, 0, 227);
  font-family: cursive;
}

p{
  color: #ffffff;
  text-align: center;
  border: #000000;
  font-family: cursive;
}

.texto{
  font-family:cursive;
  width: 600px;
  height: 20%;
  text-align: center;
  margin: auto;
  color: rgb(255, 174, 0);
  border-color: #000000;
  font-size: 15px;
}
.pergunta{
  border: #000000;
}

.caixa1{
  height: 35px;
  width: 300px;
  color: purple;
  margin: auto;
}



.dark-mode{
  font-family: arial;
  background-color: #294E75;
  text-align: center;
}

.dark-mode p {
  color: #000000;
  text-align: center;
}